/* --------------------------------- Standard Elements --------------------------------- */
@font-face {
  font-family: MyriadProLight;
  src: url("../fonts/MyriadPro-Light.otf") format("opentype");
}
@font-face {
  font-family: MyriadProRegular;
  src: url("../fonts/MyriadPro-Regular.otf") format("opentype");
}
@font-face {
  font-family: MyriadProSemibold;
  src: url("../fonts/MyriadPro-Semibold.otf") format("opentype");
}
h2 {
  font-family: MyriadProRegular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 20px;
  font-size: 1.5em;
}
h3 {
  font-family: MyriadProLight, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h4 {
  font-family: MyriadProRegular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
p {
  font-family: MyriadProLight, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
p a {
  font-family: MyriadProRegular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #0d5eb9;
}
.lead {
  font-size: 1.2em;
  margin-bottom: 30px;
}
.customer_intropara {
  color: #0e5ec7;
  font-family: MyriadProRegular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 90%;
  font-size: 1.1em;
  line-height: 1.2em;
}
.right_gutter_fix {
  padding-right: 15px;
}
.home_content {
  background: #f2f2f2;
}
.home_content_grey {
  background: -webkit-linear-gradient(#b2b2b2, #808080);
  background: -o-linear-gradient(#b2b2b2, #808080);
  background: -moz-linear-gradient(#b2b2b2, #808080);
  background: linear-gradient(#b2b2b2, #808080);
  color: #ffffff;
}
.home_content_grey .narrow_centred_copy a {
  color: #ffffff;
}
.thumbnail {
  border: 0px;
  border-radius: 0px;
  padding: 0px;
}
.thumbnail .caption {
  padding: 0px;
}
.thumbnail_variant {
  font-family: MyriadProRegular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.thumbnail_variant a {
  color: #ffffff;
}
.thumbnail_variant a img {
  width: 110px;
  height: 110px;
  float: left;
  margin-right: 15px;
}
.btn-primary {
  width: 100%;
  border-radius: 0px;
  border: 1px solid #122454;
  background: #122454;
  font-family: MyriadProLight, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: left;
}
.btn-primary:hover {
  background: #ffffff;
  color: #122454;
}
.footer_content {
  padding: 15px 0px 30px 0px;
  font-family: MyriadProRegular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.8em;
  background: #f2f2f2;
}
.footer_content p {
  font-family: MyriadProRegular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.social_links a {
  width: 25px;
  height: 25px;
  float: left;
}
.social_links a:nth-child(1) {
  margin-right: 5px;
}
.social_links {
  float: right;
}
.footer_links {
  padding-left: 0px;
  list-style-type: none;
  float: left;
  height: auto;
  column-width: 9em;
  -moz-column-width: 9em;
  -webkit-column-width: 9em;
}
.footer_links li a {
  color: #000000;
}
.addtopmargin_10 {
  margin-top: 10px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background: #0d5eb9;
}
.customer_information span {
  float: left;
  background: #005bbc;
  color: #ffffff;
  width: 100%;
  padding: 30px;
}
.customer_information span img {
  background: none repeat scroll 0 0 #ffffff;
  padding: 20px;
  width: 100%;
}
.region_address_panel {
  margin-top: 20px;
}
.region_address_panel span {
  float: left;
  background: #005bbc;
  color: #ffffff;
  width: 100%;
  padding: 15px 30px;
  font-size: 0.9em;
  margin-bottom: 15px;
}
.region_address_panel span address {
  line-height: 1.2em;
  font-weight: lighter;
  margin-bottom: 10px;
}
.region_address_panel span address a {
  color: #ffffff;
  font-weight: bolder;
}
.region_address_panel span address a:hover {
  color: #ffffff;
}
.tab-content {
  margin-bottom: 30px;
}
.course_table {
  font-family: MyriadProLight, "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  line-height: 1.5em;
  margin: 10px 0px;
  width: 100%;
}
.course_table tr {
  float: left;
  margin-bottom: 10px;
}
.course_table tr td {
  float: left;
  margin-right: 10px;
  width: 100%;
  font-size: 1.2em;
}
.press_release_item {
  border-top: 1px solid #9f9f9f;
  padding: 20px 0px;
}
.press_release_item .press_release_copy {
  float: left;
  margin-right: 0%;
  width: 100%;
}
.press_release_item .press_release_copy h4 {
  margin: 0px;
  color: #004a97;
  font-size: 1em;
}
.press_release_item .press_release_image {
  width: 25%;
  float: right;
}
.press_release_item .press_release_image img {
  border: 1px solid #898989;
}
.press_release_item:last-child {
  border-bottom: 1px solid #9f9f9f;
}
.contact_item {
  border-top: 1px solid #9f9f9f;
  padding: 20px 0px;
}
.contact_item .contact_copy {
  font-family: MyriadProLight, "Helvetica Neue", Arial, Helvetica, sans-serif;
  float: left;
  margin-right: 0%;
  width: 100%;
}
.contact_item .contact_copy h4 {
  margin: 0px 0px 10px 0px;
  color: #004a97;
  font-size: 1.1em;
}
.contact_item .contact_copy address {
  font-size: 0.9em;
  margin-bottom: 0px;
}
.contact_item .contact_image {
  width: 40%;
  float: right;
}
.contact_item .contact_image img {
  border: 1px solid #898989;
}
.sidebox_worldmap {
  margin-bottom: 30px;
}
/* --------------------------------- Mobile Styles - up to 320px wide --------------------------------- */
.navbar-brand {
  width: 200px;
  margin-top: 5px;
}
.navbar-header {
  height: 70px;
}
.navbar {
  background: #122454;
  min-height: 65px;
  margin-bottom: 0px;
  border-radius: 0px;
  border: 0px;
}
.navbar-nav {
  padding: 0px 25px;
}
.navbar-nav li {
  font-family: MyriadProRegular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.navbar-nav li a {
  padding: 7px 0px;
  color: #000000;
  line-height: 1em;
}
.container-fluid,
.container {
  padding-left: 25px;
  padding-right: 25px;
}
.navbar-default .navbar-toggle {
  margin-top: 27px;
  border: 0px;
  width: 65px;
  border-radius: 0px;
  color: #ffffff;
  padding: 0px;
}
.navbar-default .navbar-toggle .navbar_toggle_text {
  float: left;
  line-height: 1em;
  font-size: 0.9em;
}
.navbar-default .navbar-toggle .icon-bar {
  height: 3px;
  background-color: #ffffff;
  border-radius: 0px;
  float: right;
}
.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 2px;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background: none;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background: none;
}
.navbar-nav .open .dropdown-menu > li > a,
.navbar-nav .open .dropdown-menu .dropdown-header {
  padding-top: 0px;
  font-family: MyriadProLight, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#bs-example-navbar-collapse-1 {
  background: #ffffff;
  margin: 0px -25px;
}
.mobile_hero_slide {
  display: block!important;
}
.tablet_hero_slide {
  display: none!important;
}
.desktop_hero_slide {
  display: none!important;
}
.cta_button_array_mobile ul {
  list-style-type: none;
  padding: 0px 10px;
  margin-top: 15px;
}
.cta_button_array_mobile ul li {
  font-size: 0.9em;
  margin-bottom: 6px;
  text-align: center;
  display: block;
  font-family: MyriadProRegular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.cta_button_array_mobile ul li a {
  color: #ffffff;
  display: block;
  text-decoration: none;
  padding: 8px 0px 6px 0px;
  font-family: MyriadProRegular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
}
.cta_button_array_mobile ul li:nth-child(1) a {
  background-color: #ac1e8b;
}
.cta_button_array_mobile ul li:nth-child(1) a:hover {
  background-color: #eeeeee;
  color: #ac1e8b;
}
.cta_button_array_mobile ul li:nth-child(2) a {
  background-color: #f58026;
}
.cta_button_array_mobile ul li:nth-child(2) a:hover {
  background-color: #eeeeee;
  color: #f58026;
}
.cta_button_array_mobile ul li:nth-child(3) a {
  background-color: #24295f;
}
.cta_button_array_mobile ul li:nth-child(3) a:hover {
  background-color: #eeeeee;
  color: #24295f;
}
.cta_button_array_mobile ul li:nth-child(4) a {
  background-color: #49a42b;
}
.cta_button_array_mobile ul li:nth-child(4) a:hover {
  background-color: #eeeeee;
  color: #49a42b;
}
.header_toplinks_mobile {
  width: 100%;
  padding: 0px 10px;
  font-family: MyriadProRegular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.9em;
  margin-bottom: 20px;
}
.header_toplinks_mobile a {
  background: #49a42b;
  color: #ffffff;
  display: block;
  text-decoration: none;
  padding: 8px 0px 6px 0px;
  text-align: center;
  margin: 0px 0px 7px 0px;
}
.header_toplinks_mobile a:hover {
  background: #eeeeee;
  color: #49a42b;
}
.narrow_centred_copy {
  width: 100%;
  margin: 20px auto 20px auto;
  text-align: center;
}
.narrow_centred_copy .intro_para {
  font-size: 1.8em;
  line-height: 1.2em;
  margin-bottom: 5px;
}
.sidebox_viewdemo {
  background: #3b5eb5;
  padding: 15px;
  color: #ffffff;
  margin-bottom: 10px;
}
.sidebox_coursespublic {
  background: #ac1e8b;
  padding: 15px;
  color: #ffffff;
  margin-bottom: 10px;
}
.sidebox_coursespublic .purple_box_icon {
  float: left;
  margin-right: 5px;
  margin-top: -10px;
}
.sidebox_coursespublic p {
  margin: 10px 0px 5px 0px;
}
.sidebox_coursespublic a {
  color: #ffffff;
  font-family: MyriadProRegular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.sidebox_coursespublic hr {
  margin: 5px 0px 10px auto;
}
.sidebox_coursesprivate {
  background: #6da43e;
  padding: 15px;
  color: #ffffff;
  margin-bottom: 10px;
}
.sidebox_coursesprivate .green_box_icon {
  float: left;
  margin-right: 5px;
  margin-top: -10px;
}
.sidebox_coursesprivate p {
  margin: 10px 0px 5px 0px;
  line-height: 1.2em;
  font-family: MyriadProRegular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.sidebox_coursesprivate a {
  color: #ffffff;
  font-family: MyriadProRegular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.sidebox_coursesprivate hr {
  margin: 5px 0px 10px auto;
}
.sidebox_requestdemo {
  background: #ab268b;
  padding: 15px;
  color: #ffffff;
  margin-bottom: 10px;
}
.sidebox_requestdemo ul {
  list-style-type: none;
  padding-left: 0px;
}
.sidebox_requestdemo ul li {
  width: 100%;
  font-size: 0.9em;
}
.sidebox_requestdemo ul li label {
  font-weight: normal;
  margin-bottom: 0px;
}
.sidebox_requestdemo ul li input {
  margin-bottom: 5px;
  width: 100%;
  color: #000000;
}
.sidebox_requestdemo p {
  line-height: 1em;
}
.sidebox_requestdemo .submit_button {
  width: auto;
  background: #bdbcc0;
  border: 0px;
  margin: 3px 0px 0px 0px;
}
.sidebox_archive {
  background: #3758b6;
  padding: 15px;
  color: #ffffff;
  margin-bottom: 10px;
}
.sidebox_archive ul {
  list-style-type: none;
  padding-left: 0px;
}
.sidebox_archive ul li a {
  color: #ffffff;
}
.sidebox_customersupport {
  background: #3758b6;
  padding: 15px;
  color: #ffffff;
  margin-bottom: 10px;
}
.sidebox_customersupport p {
  line-height: 1.2em;
  font-weight: bolder;
}
.sidebox_customersupport ul {
  list-style-type: none;
  padding-left: 0px;
  font-weight: bolder;
}
.sidebox_customersupport ul li {
  width: 100%;
}
.sidebox_customersupport ul li span {
  float: right;
  font-weight: normal;
}
.sidebox_customersupport ul li span a {
  color: #ffffff;
}
.sidebox_twitter {
  background: #6cb9e0;
  padding: 15px;
  color: #ffffff;
  margin-bottom: 10px;
}
.sidebox_twitter p {
  font-size: 0.9em;
  font-family: MyriadProRegular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.sidebox_twitter a {
  color: #ffffff;
}
.sidebox_twitter hr {
  margin: 5px 0px;
}
.sidebox_viewdemo h3,
.sidebox_requestdemo h3,
.sidebox_archive h3,
.sidebox_twitter h3,
.sidebox_customersupport h3 {
  border-bottom: 2px solid #ffffff;
  font-size: 1.2em;
  margin: 0px 0px 15px 0px;
  padding: 0px 0px 5px 0px;
}
.sidebox_coursespublic h3,
.sidebox_coursesprivate h3 {
  font-size: 1.2em;
  margin: 0px 0px 10px 0px;
  padding: 0px 0px 5px 0px;
}
blockquote {
  font-family: MyriadProRegular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 0px;
  background: #dd7842;
  color: #ffffff;
  font-size: 1.3em;
  line-height: 1.2em;
  margin-bottom: 10px;
  padding: 15px 20px;
}
blockquote a {
  font-size: 0.8em;
  color: #ffffff;
}
blockquote a:hover {
  color: #ffffff;
}
blockquote span {
  width: 100%;
  font-size: 0.8em;
  font-family: MyriadProSemibold, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 10px;
  float: left;
}
.panel-group {
  border-top: 1px solid #a1a1a1;
}
.panel-group .panel {
  border-radius: 0px;
  border: 0px;
  box-shadow: none;
  border-bottom: 1px solid #a1a1a1;
}
.panel-group .panel-heading {
  background: none;
  padding: 10px 0px;
  color: #345aac;
}
.panel-group .panel-heading .panel-title {
  float: left;
}
.panel-group .panel-heading .panel_button {
  float: right;
}
.panel-group .panel-body {
  border-top: 0px!important;
  padding: 10px 0px;
}
.panel-group .panel-body .panel_content_image {
  width: 23%;
  margin-left: 7%;
  float: right;
  margin-bottom: 40px;
}
.panel-group .panel_narrow_para p {
  width: 70%;
}
.share_panel {
  background: #0d5eb9;
  color: #ffffff;
  font-size: 1em;
  padding: 7px 15px;
  display: block;
  font-size: 0.8em;
  margin-bottom: 20px;
}
.share_panel span {
  width: 15px;
  float: right;
}
.share_panel:hover,
.share_panel:focus {
  color: #ffffff;
}
.nav-pills li {
  text-align: center;
  width: 100%;
  background: #cccccc;
  width: 24%;
  margin: 0px 0.5%!important;
}
.nav-pills li a {
  border-radius: 0px;
  padding: 5px 0px;
  color: #000000;
  font-size: 0.8em;
}
.nav-pills li a:hover {
  color: #000000;
}
.customer_grid {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #d8d8d8;
}
.customer_grid a {
  float: left;
  width: 49%;
  margin: 5px 0.5% 0px 0.5%;
  background: #f3f3f3;
  padding: 20px;
}
.half_box_left {
  float: left;
  font-family: MyriadProRegular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2em;
  width: 40%;
}
.half_box_right {
  font-family: MyriadProRegular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  line-height: 1.1em;
}
/* --------------------------------- Minimum width of 321 pixels. ---------------------------------- */
/* --------------------------------- Minimum width of 480 pixels. ---------------------------------- */
@media (min-width: 480px) {
  .container-fluid,
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  #bs-example-navbar-collapse-1 {
    background: #ffffff;
    margin: 0px -15px;
  }
  .carousel-caption {
    position: absolute;
    top: 70px;
    left: 90px;
    right: inherit;
    font-family: MyriadProLight, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-shadow: none;
    font-size: 2em;
    max-width: 270px;
    text-align: left;
    line-height: 1.2em;
  }
  .social_links {
    float: left;
  }
  .footer_links {
    padding-left: 15px;
    list-style-type: none;
    float: left;
    height: 4.5em;
    column-width: 9em;
    -moz-column-width: 9em;
    -webkit-column-width: 9em;
  }
  .nav-pills li {
    width: 24%;
    margin: 0px 0.5%!important;
  }
  .customer_grid {
    margin-top: 20px;
    padding-top: 20px;
  }
  .customer_grid a {
    width: 24%;
    padding: 0px;
  }
  .contact_item .contact_copy {
    margin-right: 10%;
    width: 50%;
  }
  .press_release_item .press_release_copy {
    margin-right: 15%;
    width: 60%;
  }
  .course_table tr {
    float: none;
    margin-bottom: 0px;
  }
  .course_table tr td {
    float: none;
    margin-right: 0px;
    width: auto;
    font-size: 1em;
  }
}
/* --------------------------------- Minimum width of 768 pixels. ---------------------------------- */
@media (min-width: 768px) {
  h2 {
    margin-top: 10px;
  }
  .right_gutter_fix {
    padding-right: 0px;
  }
  .container {
    width: 100%;
    margin: 80px auto 50px auto;
  }
  .navbar {
    height: 107px;
  }
  .navbar-brand {
    width: 250px;
    margin-top: 0px;
  }
  .navbar-header {
    height: auto;
  }
  .navbar-collapse {
    padding-right: 0px;
  }
  #bs-example-navbar-collapse-1 {
    background: #122454;
    margin: 0px;
  }
  .mobile_hero_slide {
    display: none!important;
  }
  .tablet_hero_slide {
    display: block!important;
  }
  .header_toplinks {
    float: right;
    margin-top: 20px;
    height: 40px;
  }
  .header_toplinks a {
    background: #4aa52c;
    color: #ffffff;
    float: left;
    width: 155px;
    font-size: 12px;
    font-family: MyriadProLight, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 7px;
    padding: 6px 0px 4px 0px;
    text-align: center;
    text-decoration: none;
    line-height: 1em;
  }
  .header_toplinks a:hover {
    color: #4aa52c;
    background: #ffffff;
  }
  .navbar-default .navbar-nav {
    margin-top: -3px;
    height: 50px;
    padding: 0px;
    margin-right: -15px;
  }
  .navbar-default .navbar-nav li {
    font-family: MyriadProLight, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ffffff;
  }
  .navbar-default .navbar-nav li a {
    color: #ffffff;
    font-size: 1em;
    padding: 15px 18px;
  }
  .navbar-default .navbar-nav li a:hover {
    color: #679ed0!important;
  }
  .navbar-default .navbar-nav li a:focus {
    color: #679ed0!important;
  }
  .navbar-default .navbar-nav li.active a {
    color: #679ed0!important;
    background: none;
  }
  .navbar-default .navbar-nav li.active a:hover {
    color: #679ed0!important;
    background: none;
  }
  .nav .open > a,
  .nav .open > a:hover,
  .nav .open > a:focus {
    background: url(../images/nav_arrow.png) no-repeat scroll center bottom rgba(0, 0, 0, 0) !important;
    color: #679ed0!important;
    height: 50px;
  }
  .submenu_container {
    min-height: 160px;
    background: #e5e5e5;
    padding: 15px 20px;
    float: right;
    position: relative;
    z-index: 1000;
    font-family: MyriadProLight, "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  .submenu_container ul {
    list-style-type: none;
    padding-left: 0px;
    float: left;
  }
  .submenu_container ul li a {
    color: #000000;
    line-height: 1.6em;
  }
  .submenu_container ul li a span.glyphicon {
    font-size: 0.8em;
    margin-left: 5px;
    color: #aaaaaa;
  }
  .mega_menu {
    position: absolute;
    width: 100%;
    right: 15px;
  }
  #submenu1 {
    width: 630px;
  }
  #submenu2 {
    width: 545px;
  }
  #submenu4 {
    width: 480px;
  }
  #submenu5 {
    width: 300px;
  }
  .innermenu_container {
    float: left;
    margin: 20px 0px 0px 20px;
    font-size: 0.8em;
  }
  .view_demo_box {
    padding: 10px 25px;
    background: #ffffff;
    float: right;
    width: 240px;
    min-height: 170px;
  }
  .view_demo_box a {
    width: 100%;
    float: left;
    font-size: 1.2em;
  }
  .view_demo_box a span {
    width: 27px;
    height: 20px;
    float: left;
    margin-right: 10px;
  }
  .view_demo_box .view_demo_image {
    margin-top: 15px;
  }
  .nav_purple_box {
    padding: 10px;
    width: 240px;
    min-height: 160px;
    float: right;
    background: #ab268b;
    color: #ffffff;
  }
  .nav_purple_box .purple_box_icon {
    float: left;
    margin-right: 5px;
  }
  .nav_purple_box h3 {
    margin: 0px 0px 8px 0px;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #ffffff;
    font-size: 1.2em;
  }
  .nav_purple_box p {
    font-size: 0.9em;
    line-height: 1.2em;
  }
  .nav_purple_box ul {
    width: 100%;
    margin-bottom: 0px;
  }
  .nav_purple_box ul li {
    width: 100%;
    min-height: 17px;
  }
  .nav_purple_box ul li a {
    color: #ffffff;
    background: url(../images/nav_contact_link_arrow.gif) top right no-repeat;
    width: 100%;
    padding-right: 20px;
    display: block;
  }
  .nav_purple_box ul li a span {
    float: right;
    padding: 0px 5px;
    color: #000000;
    font-size: 0.7em;
    line-height: 17px;
    background: #ffffff;
    min-height: 17px;
  }
  .nav_purple_box form {
    font-family: MyriadProLight, "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  .nav_purple_box form ul li label {
    width: 50%;
    padding-top: 3px;
  }
  .nav_purple_box form ul li input {
    width: 50%;
    color: #000000;
    line-height: 1em;
    float: right;
    padding-top: 3px;
  }
  .nav_purple_box .submit_button {
    width: 25%;
    min-height: 20px;
    margin-top: 3px;
  }
  .cta_button_array {
    z-index: 500;
    position: absolute;
    width: 96%;
    margin-top: 15px;
  }
  .cta_button_array ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    height: 40px;
  }
  .cta_button_array ul li {
    text-align: center;
    float: left;
    height: 40px;
  }
  .cta_button_array ul li a {
    display: block;
    color: #ffffff;
    padding: 10px 0px 8px 0px;
    text-decoration: none;
    font-family: MyriadProLight, "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
  }
  .cta_button_array ul li:nth-child(1) {
    width: 23.5%;
    margin: 0px 2% 0px 0px;
  }
  .cta_button_array ul li:nth-child(1) a {
    background: #ac1e8b;
  }
  .cta_button_array ul li:nth-child(1) a:hover {
    background: #f2f2f2;
    color: #ac1e8b;
  }
  .cta_button_array ul li:nth-child(2) {
    width: 23.5%;
    margin: 0px 2% 0px 0px;
  }
  .cta_button_array ul li:nth-child(2) a {
    background: #f58026;
  }
  .cta_button_array ul li:nth-child(2) a:hover {
    background: #f2f2f2;
    color: #f58026;
  }
  .cta_button_array ul li:nth-child(3) {
    width: 23.5%;
    margin: 0px 2% 0px 0px;
  }
  .cta_button_array ul li:nth-child(3) a {
    background: #24295f;
  }
  .cta_button_array ul li:nth-child(3) a:hover {
    background: #f2f2f2;
    color: #24295f;
  }
  .cta_button_array ul li:nth-child(4) {
    width: 23.5%;
    margin: 0px;
  }
  .cta_button_array ul li:nth-child(4) a {
    background: #49a42b;
  }
  .cta_button_array ul li:nth-child(4) a:hover {
    background: #f2f2f2;
    color: #49a42b;
  }
  .carousel {
    width: 100%;
    max-height: 400px;
  }
  .carousel-indicators {
    margin-left: 0px;
    left: inherit;
    width: inherit;
  }
  .carousel-inner {
    max-height: 400px;
  }
  .carousel-caption {
    position: absolute;
    top: 70px;
    left: inherit;
    right: inherit;
    font-family: MyriadProLight, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-shadow: none;
    font-size: 2em;
    max-width: 250px;
    text-align: left;
    line-height: 1.2em;
    z-index: 0;
  }
  .narrow_centred_copy {
    width: 70%;
    margin: 35px auto 30px auto;
    text-align: center;
  }
  .narrow_centred_copy .intro_para {
    font-size: 1.6em;
    line-height: 1.2em;
    margin-bottom: 5px;
  }
  .nav-pills li a {
    padding: 5px 15px;
    font-size: 1em;
  }
  .region_address_panel {
    margin-top: 0px;
  }
}
/* --------------------------------- Minimum width of 960 pixels. ---------------------------------- */
@media only screen and (min-width: 960px) {
  .container {
    width: 960px;
  }
  .tablet_hero_slide {
    display: none!important;
  }
  .desktop_hero_slide {
    display: block!important;
  }
  .container-fluid {
    max-width: 960px;
  }
  .navbar-collapse {
    padding: 0px;
  }
  .navbar-header {
    margin-top: 18px;
  }
  .tablet_hero_slide {
    display: none;
  }
  .mega_menu {
    width: 930px;
    right: auto;
  }
  .cta_button_array {
    width: 930px;
  }
  .half_box_left {
    font-size: 2.5em;
  }
  .half_box_right {
    font-size: 1.5em;
  }
}
